CONSUL_HTTP_SSL_VERIFY=false
MANTL_API_LOG_LEVEL=debug
MANTL_API_CONSUL=https://consul.service.{{ consul_dns_domain }}:8500
MANTL_API_MARATHON=http://marathon.service.{{ consul_dns_domain }}:{{ marathon_port }}
MANTL_API_MESOS=http://leader.mesos.service.{{ consul_dns_domain }}:{{ mesos_leader_port }}
MANTL_API_MESOS_PRINCIPAL={{ mantl_api_principal }}
MANTL_API_MESOS_SECRET={{ mantl_api_secret }}
MANTL_API_ZOOKEEPER={{ zookeeper_service }}.service.{{ consul_dns_domain }}:2181